---
layout: default
---
<div id="container" class="container">
<div class="menu-panel">
    <h3>Posts</h3>
    <ul id="menu-toc" class="menu-toc">
        {% for post in site.posts %}
        <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <footer>
        Powered by <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a> & <a href ="https://gitlab.com/pages/jekyll" target="_blank">Jekyll</a>
    </footer>
</div>
<div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
        {% for post in site.posts %}
        <div class="bb-item">					
            <div class="content">
                <div class="scroller">
                 <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {{ post.content }}		
                </div>
            </div>
        </div>	
        {% endfor %}						
    </div>
    <nav>
    <span id="bb-nav-prev">&larr;</span>
    <span id="bb-nav-next">&rarr;</span>
    </nav>
    <span id="tblcontents" class="menu-button">Table of Contents</span>
</div>
</div>


