<footer>
<p>powered by <a href = "https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a></p>
</footer>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://static.tumblr.com/sru6zaq/KWfqt4f0a/jquery.mousewheel.js"></script>
<script src="https://static.tumblr.com/sru6zaq/SoOqt4f0a/jquery.jscrollpane.min.js"></script>
<script src="https://static.tumblr.com/sru6zaq/IQLqt4f0b/jquerypp.custom.js"></script>
<script src="https://static.tumblr.com/sru6zaq/rtRqt4f09/jquery.bookblock.js"></script>
<script src="https://static.tumblr.com/sru6zaq/gMBqt4f08/page.js"></script>
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ "/js/jquery.mousewheel.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.jscrollpane.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquerypp.custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.bookblock.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/page.js" | prepend: site.baseurl }}"></script>
<script>
$(function() {

	Page.init();

});
</script>

