---
layout: default
---
<div id="container" class="container">
<div class="menu-panel">
    <h3>Post</h3>
    <ul id="menu-toc" class="menu-toc">
        <li><a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    </ul>
</div>
<div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
        <div class="bb-item">					
            <div class="content">
                <div class="scroller">
                     <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
                <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
                {{ content }}		
                </div>
            </div>
        </div>							
    </div>
    <nav>
    <span id="bb-nav-prev">&larr;</span>
    <span id="bb-nav-next">&rarr;</span>
    </nav>
    <span id="tblcontents" class="menu-button">Table of Contents</span>
</div>
</div>
